@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

@mixin media($size) {
  @media(max-width:#{$size}px) {
    @content
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
  user-select: none;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;

  @include media(992) {
    flex-direction: column;
  }
}

.title {
  font-size: 4em;
  color: white;
  text-shadow: 0 0 5px white;
  padding-bottom: 10px;
  border-bottom: 2px white solid;
  text-align: center;
}

.leaderboard {
  width: 50%;
  padding-left: 25px;

  @include media(992) {
    width: 100%;
    padding-left: 0;
  }

  &__preload {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
}

.member {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  user-select: text;

  &:not(:last-child) {
    border-bottom: 2px white solid;
  }

  &__place {
    width: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    color: white;
  }

  &__name {
    flex-grow: 1;
    font-size: 18px;
    color: white;
  }

  &__time {
    width: 100px;
    color: white;
    font-family: monospace;
    font-size: 18px;
  }
}

.form {
  display: flex;
  align-items: center;
  margin-top: 15px;

  &__input {
    flex-grow: 1;
    margin-right: 15px;
    border: none;
    outline: none;
    background: none;
    padding: 5px 10px;
    border-bottom: 2px white solid;
    font-size: 18px;
    color: white;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
    }
  }

  &__button {
    border: none;
    background: white;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }
}

.game {
  width: 50%;
  padding-right: 25px;

  @include media(992) {
    width: 100%;
    padding-right: 0;

  }

  &__button {
    font-size: 20px;
    border: none;
    outline: none;
    background: white;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    cursor: pointer;
  }

  &__board {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    grid-gap: 15px;
    margin: 25px auto;
    
    @include media(768){
      width: 300px;
      height: 300px; 
    }
  }

  &__card {
    background: white;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: transparent;
    font-size: 50px;
    transition: 0.5s color, 0.5s opacity;
    
    @include media(768){
      font-size: 25px;
    }

    &.deleted {
      opacity: 0;
      pointer-events: none;
    }

    &.opened {
      color: red;
      pointer-events: none;
    }
  }

  &__end-title {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  &__end-text {
    text-align: center;
    color: white;
    font-size: 18px;
  }
}